@import "tailwindcss";

@theme {
	--font-mono: "Fira Code", monospace;
	--font-sans: initial;
	--color-*: initial;
	--color-black: "black";
	--color-red-*: initial;
	--color-blue-*: initial;
	--color-neutral-*: initial;
	--color-orange-*: initial;
	--color-amber-*: initial;
	--color-yellow-*: initial;
	--color-lime-*: initial;
	--color-green-*: initial;
	--color-emerald-*: initial;
	--color-violet-*: initial;
	--color-gray-*: initial;
	--color-gray-*: initial;
	--color-fg0: #ddc7a1;
	--color-fg: #d4be98;
	--color-fg1: #c5b18d;
	--color-red: #ea6962;
	--color-orange: #e78a4e;
	--color-yellow: #d8a657;
	--color-green: #a9b665;
	--color-aqua: #89b482;
	--color-blue: #7daea3;
	--color-purple: #d3869b;
	--color-dimOrange: #bd6f3e;
	--color-dimYellow: #c18f41;
	--color-dimGreen: #8f9a52;
	--color-dimAqua: #72966c;
	--color-dimBlue: #68948a;
	--color-dimPurple: #ab6c7d;
	--color-bg0: #101010;
	--color-bg1: #1c1c1c;
	--color-bg: #292828;
	--color-bg2: #32302f;
	--color-bg3: #383432;
	--color-bg4: #3c3836;
	--color-bg5: #45403d;
	--color-bg6: #504945;
	--color-bg7: #5a524c;
	--color-bg8: #665c54;
	--color-bg9: #7c6f64;
	--color-gray0: #7c6f64;
	--color-gray1: #928374;
	--color-gray2: #a89984;
}

html {
	font-family: "Courier Prime", monospace;
	color: var(--color-fg0);
	color-scheme: dark;
	min-width: 360px;
}

::selection {
	background-color: #47a3f3;
	color: #fefefe;
}

:root {
	--sh-class: #4c97f8;
	--sh-identifier: #354150;
	--sh-sign: #8996a3;
	--sh-string: #0fa295;
	--sh-keyword: #f47067;
	--sh-comment: #a19595;
	--sh-jsxliterals: #6266d1;
	--sh-property: #e25a1c;
	--sh-entity: #e25a1c;
}

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply underline transition-all decoration-gray1 dark:decoration-gray2 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
	@apply text-gray1 dark:text-bg1;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply bg-bg0 rounded-lg overflow-x-auto border  border-bg0 py-2 px-3 text-sm;
}

.prose code {
	@apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
	@apply p-0;
	border: initial;
	line-height: 1.5;
}

.prose code span {
	@apply font-medium;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose p {
	@apply my-4  text-fg1;
}

.prose h1 {
	@apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
	@apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
	@apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
	@apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
	@apply font-medium;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6;
}

.prose > :first-child {
	/* Override removing top margin, causing layout shift */
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.title {
	text-wrap: balance;
}
