@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
	--font-mono: "DepartureMono", "Courier Prime", monospace;
	--font-sans: "DepartureMono", "Courier Prime", monospace;
	--color-*: initial;
	--text-*: initial;
	--text-xs: 0.5rem;
	--text-base: 1rem;
	--text-lg: 2rem;
	--text-xl: 3rem;
	--text-2xl: 4rem;
	--tracking-*: initial;

	--color-fg0: #ddc7a1;
	--color-fg: #d4be98;
	--color-fg1: #c5b18d;
	--color-red: #ea6962;
	--color-orange: #e78a4e;
	--color-yellow: #d8a657;
	--color-green: #a9b665;
	--color-aqua: #89b482;
	--color-blue: #7daea3;
	--color-purple: #d3869b;
	--color-dimOrange: #bd6f3e;
	--color-dimYellow: #c18f41;
	--color-dimGreen: #8f9a52;
	--color-dimAqua: #72966c;
	--color-dimBlue: #68948a;
	--color-dimPurple: #ab6c7d;
	--color-bg0: #0a0a0a;
	--color-bg1: #1c1c1c;
	--color-bg: #292828;
	--color-bg2: #32302f;
	--color-bg3: #383432;
	--color-bg4: #3c3836;
	--color-bg5: #45403d;
	--color-bg6: #504945;
	--color-bg7: #5a524c;
	--color-bg8: #665c54;
	--color-bg9: #7c6f64;
	--color-gray0: #7c6f64;
	--color-gray1: #928374;
	--color-gray2: #a89984;
}

.text-lg,
.text--xl,
.text-2xl {
	line-height: 1.1;
}

@font-face {
	font-family: "DepartureMono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("/DepartureMono-Regular.woff2") format("woff2");
}

html {
	font-family: "DepartureMono", "Courier Prime", monospace;
	color: var(--color-fg0);
	color-scheme: dark;
	min-width: 360px;
	font-size: 22px;
	text-shadow: 0 0 6px theme(colors.red / 25%);
}

/* icons */
svg[width="1em"][height="1em"] {
	filter: drop-shadow(0 0 6px theme(colors.red / 25%));
}

::selection {
	background-color: var(--color-dimYellow);
	color: var(--color-bg0);
	text-shadow: none;
}

:root {
	--sh-class: theme(colors.red);
	--sh-identifier: theme(colors.fg);
	--sh-sign: theme(colors.gray2);
	--sh-string: theme(colors.green);
	--sh-keyword: theme(colors.red);
	--sh-comment: theme(colors.gray1);
	--sh-jsxliterals: theme(colors.purple);
	--sh-property: theme(colors.orange);
	--sh-entity: theme(colors.orange);
}

.prose {
	@apply text-gray2;
}

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

/* .prose a {
	@apply underline   decoration-gray2 underline-offset-2 decoration-[0.1em];
} */

.prose .anchor:after {
	@apply text-current;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	background-color: color-mix(in srgb, black 30%, theme(colors.bg0));
	@apply !leading-[1]  overflow-x-auto border-6 border-double    border-bg py-2 px-3;
}

.prose code {
	@apply px-4 py-2;
}

.prose pre code {
	@apply text-[14px];
	border: initial;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0 p-1;
	border: 4px double var(--color-bg);
	/* box-shadow: 6px 6px 0px var(--color-bg); */
}

.prose p {
	@apply my-4  max-w-[80ch];
}

.prose h1 {
	@apply font-bold text-red text-lg  mt-6 mb-2;
}

.prose h2 {
	@apply font-medium text-green text-lg  mt-6 mb-2;
}

.prose h3 {
	@apply font-medium text-blue  mt-6 mb-2;
}

.prose h4 {
	@apply font-medium  mt-6 mb-2;
}

.prose strong {
	@apply font-medium;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6;
}

/* .prose > :first-child { */
/* Override removing top margin, causing layout shift */
/* margin-top: 1.25em !important; */
/* margin-bottom: 1.25em !important; */
/* } */

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.title {
	text-wrap: balance;
}

.scanlines {
	height: 100vh;
	width: 100vw;
	position: fixed;
	inset: 0;
	z-index: 9991;
	opacity: 0.15;
	mix-blend-mode: luminosity;
	pointer-events: none;
	background: repeating-linear-gradient(
		transparent,
		transparent 5px,
		color-mix(in srgb, black 90%, theme(colors.dimOrange)) 6px,
		theme(colors.bg0) 7px
	);
}

.shadow-flat {
	--tw-shadow: 0 0px 6px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
		0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
	box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
		var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
